/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
html {
 background: rgb(113, 124, 113);
 background-image: url(https://images.unsplash.com/photo-1607328874414-4d6c39edde49?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1080&q=80);
 background-size: cover;
}
button, input{
  display: inline-flex;
  box-shadow: rgb(170, 158, 90) 5px 6px;
}
img{
  display: block;
  height: 70vh;
  margin: 0 auto;
  border-radius: 50% 50%;
}
input {
  margin-left: 2.5%;
  display: block;
}
button{
  margin-left: 2.5%;
  display: block;
}
h1{
  color: blue;
  background: rgba(0,0,0,.25);
  border: 2px solid wheat;
  margin-left: 2.5%;
  border-radius: 75% 75%;
  display: inline;
}
.name {
  font-size: 4rem;
  font-style: oblique;
  background: rgba(0,0,0,.85);
  color: #571FDB;
  display: inline-block;
  margin: 0 50%;
  padding: 1% 1%;
  border: 8px solid #1C6EA4;
border-radius: 60px 0px 60px 0px;

}
.ingredientsTitle{
  font-size: 3rem;
  background: rgba(0,0,0,.35);
  text-decoration: underline;
  width: 100%;
  margin: 0 auto;
  padding-top: 5%;
  color: rgb(188, 193, 201);
}
h4, h5 {
  font-size: 32px;
  background: rgba(0,0,0,.35);
  width: 50vw;
  margin: 0 auto;
  padding-top: 1%;
  color: wheat;
}

.instructions {
  border: 2px solid white;
  width: 30%;
  height: auto;
  margin-left: 70%;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
