/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
html {
 background: rgb(113, 124, 113);
 background-image: url(https://images.unsplash.com/photo-1607328874414-4d6c39edde49?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1080&q=80);
 background-size: cover;
}
button, input{
  box-shadow: rgb(170, 158, 90) 4px 5px;
}
img{
  display: block;
  height: 50vh;
  margin: 0 auto;
  border-radius: 50% 50%;
}
input {
  margin-top: 32px;
  margin-left: 2.5%;
  display: block;
}
button{
  margin-left: 8%;
  display: block;
}
h1{
  color: blue;
  border: 2px solid wheat;
  margin-left: 32px;
  border-radius: 50% 50%;
  display: inline;
}
h3 {
  width: 50vw;
  margin: 0 auto;
  padding-top: 5%;
  color: wheat;
}
h4, h5 {
  font-size: 32px;
  width: 50vw;
  margin: 0 auto;
  padding-top: 1%;
  color: wheat;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
